{% extends "jobs/base.html" %}
{% set active_page = 'jobs' -%}
{% block main_content %}
  {% if jobs %}
    Jobs:
    <ol>
      {% for job in jobs %}
        <li>
          <div>
            <div><a href="{{ url_for('jobs.jobs_post', post_id=job.id) }}">{{ job.title }}</a></div>
            <p>{{ job.summary() }}</p>
          </div>
        </li>
      {% endfor %}
    </ol>
  {% else %}
    <h3>No active listings found</h3>
<p>Would you like to create a new listing?</p>
<p><a class="btn btn-primary" href="{{ url_for('jobs.new_jobs_post') }}">Create a new listing</a></p>
  {% endif %}
{% endblock %}
