{% set nav_bar = [
    (url_for('main.index'), 'index', 'Home'),
    (url_for('main.meetup'), 'meetup', 'Meetup'),
    (url_for('jobs.index'), 'jobs', 'Jobs Board'),
] -%}
{% set active_page = active_page|default('index') -%}
{% block html %}
<!doctype html>
<html lang="en">
  {% block head %}
  <head>
    {% block meta_tags %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block add_meta_tags %}
    {% endblock %}
    {% endblock %}
    <title>{% block title %}Welcome{% endblock %} | Black Techies</title>
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">
    {% block head_styles %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/vendor/bootstrap/3.3.1/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/blacktechies/css/base.css') }}">
    {% endblock %}
    {% block head_scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/vendor/jquery/2.1.3/jquery.min.js') }}"></script>
    {% block add_head_scripts %}
    {% endblock %}
    {% endblock %}
  </head>
  {% endblock %}
  {% block body %}
  <body>
    <nav class="blacktechies-navbar navbar navbar-default navbar-static-top">
      <div class="container">
        <header class="site-header">
          <div class="row login-wrapper">
            <h1 class="col-md-6">Black Techies</h1>
            <div class="col-md-6 text-right">
              {% if g.user and g.user.is_authenticated(): %}
              {% block header_logged_in %}
              Logged in as <a href="{{ url_for('users.home') }}">{{ g.user.username }}</a> |
              <a href="{{ url_for('users.logout') }}" class="btn btn-default btn-xs btn-primary">Logout</a>
              {% endblock %}
              {% else %}
                {% block header_logged_out %}
                {% set hlform = get_login_form() %}
                  <form class="form-inline" role="form" method="POST" action="{{ url_for('users.login') }}">
                    {{ hlform.hidden_tag() }}
                  <div class="form-group">
                    <label class="sr-only" for="{{ hlform.username.id  }}">Username or email</label>
                    {{ hlform.username(class_="form-control input-sm", placeholder=hlform.username.description)|safe }}
                  </div>
                  <div class="form-group">
                    <label class="sr-only" for="{{ hlform.password.id  }}">Password</label>
                    {{ hlform.password(class_="form-control input-sm", placeholder="Password")|safe }}
                  </div>
                  <button class="btn btn-primary btn-sm" type="submit">Login</button>
                </form>
              {% endblock %}
            {% endif %}
            </div>
          </div>
        </header>
        <div class="row">
          <div class="col-sm-12">
            <nav class="header-nav">
              <ul class="nav nav-tabs">
                {% for href, id, title in nav_bar %}
                <li role="presentation"  {% if id == active_page %} class="active" {% endif %}>
                  <a href="{{ href }}">{{ title }}</a>
                </li>
                {% endfor %}
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </nav>
    <div class="container">
      <div>
        {% block main_content %}
        {% endblock %}
      </div>
      <hr>
      <footer>
        {% block footer_content %}
        {% endblock %}
      </footer>
    </div>
  </body>
  {% endblock %}
</html>
{% endblock %}
