{% extends "layouts/base.html" %}

{% block main_content %}
<h3>Welcome</h3>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
  sollicitudin gravida velit pellentesque efficitur. Donec tempus
  malesuada quam, eget imperdiet leo. In et enim vulputate, vestibulum
  purus eget, egestas sem. Praesent non luctus turpis. Nam eu
  vestibulum dui. Suspendisse ac augue massa. Mauris turpis orci,
  bibendum vestibulum eleifend eu, dapibus quis erat. Phasellus
  posuere orci eu mauris gravida vestibulum. Nulla lorem purus,
  vestibulum quis orci in, viverra fermentum nibh. Nam et aliquam
  tellus, et vulputate dolor. Mauris eu pulvinar eros. Fusce purus
  justo, eleifend tempus ultricies non, mollis vel nunc. Aenean
  posuere porta ipsum sed dictum. Sed sit amet varius arcu, eget
  sollicitudin nunc. Sed pulvinar velit et imperdiet sagittis. Nunc
  hendrerit felis arcu, sed maximus ligula porta a.
</p>
<p>
  <a href="{{ url_for('users.register') }}" class="btn btn-large btn-primary">
    Register for an account</a>
</p>
{% endblock %}
