{% extends "layouts/base.html" %}

{% block main_content %}
<h1>Welcome</h1>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
  sollicitudin gravida velit pellentesque efficitur. Donec tempus
  malesuada quam, eget imperdiet leo. In et enim vulputate, vestibulum
  purus eget, egestas sem. Praesent non luctus turpis. Nam eu
  vestibulum dui. Suspendisse ac augue massa. Mauris turpis orci,
  bibendum vestibulum eleifend eu, dapibus quis erat. Phasellus
  posuere orci eu mauris gravida vestibulum. Nulla lorem purus,
  vestibulum quis orci in, viverra fermentum nibh. Nam et aliquam
  tellus, et vulputate dolor. Mauris eu pulvinar eros. Fusce purus
  justo, eleifend tempus ultricies non, mollis vel nunc. Aenean
  posuere porta ipsum sed dictum. Sed sit amet varius arcu, eget
  sollicitudin nunc. Sed pulvinar velit et imperdiet sagittis. Nunc
  hendrerit felis arcu, sed maximus ligula porta a.
</p>
<p>
  Donec interdum vel ipsum scelerisque euismod. Cras ipsum purus,
  efficitur et tellus ac, eleifend mattis nisl. Morbi semper malesuada
  orci, quis tristique purus porta eu. Phasellus augue leo, feugiat ac
  ornare eu, laoreet ut velit. Integer sem sapien, egestas at posuere
  non, interdum eu ex. Praesent eget lobortis purus. Proin mattis
  mollis mi sit amet finibus. Vivamus lacinia sapien vitae euismod
  aliquam. Aliquam eu neque in ex viverra hendrerit. Fusce enim
  lectus, egestas at dignissim ut, hendrerit at metus. Sed justo
  felis, venenatis dapibus tempor id, finibus vitae lectus. Sed
  interdum, metus at pulvinar viverra, metus lorem luctus tortor, ac
  facilisis dui justo vel ex. Pellentesque habitant morbi tristique
  senectus et netus et malesuada fames ac turpis egestas. Nam id augue
  fermentum, gravida tortor sed, molestie est. Etiam mollis arcu vel
  vulputate posuere. Quisque luctus sapien sit amet augue ultrices, id
  euismod nunc fermentum.
</p>
{% endblock %}
