{% extends "jobs/base.html" %}

{% block add_head_scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='scripts/vendor/backbone/1.1.2/backbone-min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/jobs/pending_selection.js') }}"></script>
{% endblock %}

{% block main_content %}
<div>
  <h3>{{ post.subject }}</h3>
  {% set plain_text = post.raw_text() -%}
  {% if plain_text %}
  <pre class="msg_content">
	{{ plain_text }}
  </pre>
  {% else %}
  <div>
	{{ post.clean_html()|safe }}
  </div>
  {% endif %}
</div>
<hr>
<div>
  <code>
	{{ post.clean_html()|safe }}
  </code>
</div>
{% endblock %}
